/* put stuff here */

/* Sign up screen */
.login-page .app-content {
        position: relative;
        background-color: #c33;
}
.login-page .title {
        margin: 22% auto 0;
        height: 200px;
        width: 200px;
        background-image: url(../img/whiteheart.png?inline=1);
        -webkit-background-size: 100%;
        background-repeat: no-repeat;
        background-size: 100%;
}
.login-page .message {
        margin: 24px 32px 0;
        color: rgba(255,255,255,0.8);
        font-size: 18px;
        font-weight: 300;
        line-height: 22px;
        text-align: center;
}
.login-page .button-wrap {
        position: absolute;
        bottom: 20%;
        width: 100%;
}
.login-page .app-button {
        position: relative;
        height: 72px;
        background: #FFF;
        color: rgb(0,138,237);
        font-size: 20px;
        font-weight: 300;
        line-height: 72px;
}
.login-page .app-button.disabled {
        color: #999;
}
.login-page .app-button.active {
        background: #EEE;
}

/* TOP BAR */
.app-topbar{
	background-color:#b70f0f;
	-webkit-box-shadow: 0 0 4px #000;
	-moz-box-shadow: 0 0 4px #000;
	box-shadow: 0 0 4px #000;
}

.app-topbar .app-button.kik{
	right: 0;
	padding: 0;
	width: 50px;
	background-image: url(../img/kik.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 60% 60%;
	color: transparent;
	-webkit-box-shadow: none;;
	-moz-box-shadow: none;
	box-shadow: none;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border: none;
}

/* CONTENT */

.app-content{
	height:100%;
	width:100%;
	padding-top:10px;
	background-color:#C33;
	text-align: center;
	color:#FFFFFF;
}
.app-content input{
	color:#000000;
}

.app-content .app-button.disabled {
	color:#999;
}

.app-content .app-button{
	color:#ff4c4c;
}

.app-content img{
	text-align: center;
	padding-top: 3px;
	border-radius: 50%;
}
.app-content .heart{
	text-align: center;
}
.app-content .leftheart img{
	left:0;
	border-radius: 0;
	height:40px; 
	width: 40px;
}
.app-content .rightheart img{
	right:0;
	border-radius: 0;
	height:40px; 
	width: 40px;
}
.app-content .heart img{
	border-radius: 0;
}
.app-content .heartplus img{
	text-align: center;
	border-radius: 0;
	height:200px; 
	width: 200px;
}
.app-content .friendPicker{
	text-align: center;
}
.app-content .friendPicker img{
	border-radius: 0;
	padding-top: 20px;
}

.app-content#crushthumb img{
	border-radius: 0;

}